body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

h2 {
    text-align: center;
}


.upload-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.left-upload,
.right-upload {
    width: 45%;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.result-block {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    word-wrap: break-word;
    white-space: pre-wrap;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.result-block {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    word-wrap: break-word;
    /* 自動換行 */
    white-space: pre-wrap;
    /* 保留換行和空格 */
    max-height: 300px;
    /* 設置固定高度 */
    overflow: auto;
    /* 當內容超過固定高度時顯示滾動條 */
}

.plot-block {
    max-height: 300px;
    /* 限制Zipf圖像區域的高度 */
    max-width: 100%;
    /* 圖像寬度不超過父容器寬度 */
    overflow: auto;
    /* 添加滾動條 */
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}

/* Toggle Button 样式 */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* 隐藏 checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* 滑块 */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

/* 圆角滑块 */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}